@charset "utf-8";

/* CSS Document */

.about {
	padding: 0px 20px;
	text-align: justify;
	line-height: 26px;
}

.conceive,
.update,
.point {
	padding-top: 20px;
}

.conceive,
.update,
.point,
li,
.about a {
	font-size: 11px;
	color: #8E8989;
}

li {
	margin-left: 12px;
}

a:hover {
	color: rgb(255, 186, 20);
}


/* footer {
    position: relative;
    bottom: 0;
} */
