@charset "utf-8";

/* CSS Document */
#Index {
	background: #D0E263;
}

#indexTop {
	background: #EDDE8B;
	margin-bottom: -2px;
	display: none;
	border-radius: 10px 10px 0 0;
}

@media all and (max-width: 970px) {
	#indexTop {
		display: block;
		width: 100%;
		height: 25px;
		overflow: hidden;
	}
}

.indexTopText {
	font-size: 20px;
	line-height: 20px;
	box-sizing: border-box;

	animation: indexTopTextInfo 5s linear infinite;
}

.indexTopText span {
	color: #5c5c5c;
	font-size: 12px;
}

@keyframes indexTopTextInfo {
	0% {
		transform: translateX(-100%);
	}
	10% {
		transform: translateX(-20%);
	}
	20% {
		transform: translateX(-10%);
	}
	40% {
		transform: translateX(0);
	}
	60% {
		transform: translateX(10%);
	}
	80% {
		transform: translateX(20%);
	}
	90% {
		transform: translateX(30%);
	}
	92% {
		transform: translateX(40%);
	}
	94% {
		transform: translateX(50%);
	}
	96% {
		transform: translateX(60%);
	}
	98% {
		transform: translateX(70%);
	}
	99% {
		transform: translateX(80%);
	}
	100% {
		transform: translateX(100%);
	}
}


.main {
	max-width: 960px;
	margin: 0 auto;
}

.top {
	display: none;
}

.block {
	margin-top: 2px;
}

/*
内容区域
*/
.container {
	margin-top: 10px;
}

.containerMain {
	padding: 0;

}

/*

内容左*/
.left {
	/*float: left;*/
	/*width: 100%;*/
	/*box-sizing: border-box;*/
	/*background: red;*/
	margin-right: 10px;
}

/* 滚动条样式 */
.infinite-list::-webkit-scrollbar {
	width: 10px;
}

.infinite-list::-webkit-scrollbar-thumb {
	background-color: #FFBA14;
	border-radius: 5px;
}

.infinite-list::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 5px;
}

/*
左侧--留言区域
*/
.infinite-list li {
	height: auto;
	/*background: #f3e3d5;*/
	background-color: white;
	margin-bottom: 10px;
	margin-left: 0;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;

	/*background-color: white;*/
	box-shadow: 0 2px 4px 1px rgba(165, 162, 162, 0.568);
}

/*
留言-用户名
*/
.indexLename {
	font-size: 20px;
	color: #505050;
}

/*
留言-内容
*/
.indexLemessage {
	font-size: 18px;
	padding: 5px;
	color: #717171;
}

/*
留言-留言时间
*/
.indexLetime {
	font-size: 10px;
	color: gray;
}


/*
内容右
*/
.right {
	width: 303px;
	float: right;
	/*height: 600px;*/
	/*background: yellow;*/
}

.right .indexLogin,
.right .indexLeaveMessage {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 2px 4px 1px rgba(165, 162, 162, 0.568);
}

/*input状态*/
.right .indexLogin input:focus,
.right .indexLeaveMessage input:focus {
	background: #FFBA14;
}

.right .indexLogin input,
.right .indexLeaveMessage input {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	box-sizing: border-box;
	background-color: rgba(180, 180, 180, 0.23);
}

.right .indexLogin > form > p,
.right .indexLeaveMessage > form > p {
	font-size: 20px;
	color: #717171;
}

.right .indexLogin > form > div label,
.right .indexLeaveMessage > form > div label {
	color: gray;
}

/*
主页——登录
*/
.indexLogin {
	width: 100%;
	height: 180px;
	background: gray;
	padding: 10px;
	box-sizing: border-box;
}

.indexLogin > div {
	height: 40px;
}

.indexLogin div label,
.indexLogin div input {
	margin-top: 10px;
	float: left;
}

/*
主页--登录--按钮
*/
.indexLoginButton button {
	margin-top: 20px;
}

.indexLoginButton button:first-child {
	position: relative;
	left: 90px;
}

.indexLoginButton button:last-child {
	position: relative;
	left: 120px;
	/*margin-left: 20px;*/
}


/*
主页——留言板
*/
.indexLeaveMessage {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 10px;
}

.indexLeaveMessage .indexLeaveMessageUser {
	margin-top: 10px;
}

.indexLeaveMessage .indexLeaveMessageUser > label {
	float: left;
}

.indexLeaveMessage .indexLeaveMessageUser > input {
	float: right;
}

.indexLeaveMessage .indexLeaveMessageText .el-textarea {
	margin-top: 10px;
}

/*
主页--留言板--按钮
*/
.indexLeaveMessageButton button:last-child {
	position: relative;
	left: 140px;
}

@media screen and (max-width: 1000px) {
	#Index .main {
		margin: 0 12px;
	}
}

@media screen and (max-width: 960px) and (min-width: 959px) {
	.main {
		max-width: 100%;
		margin: 0 auto;
	}

	.block {
		/*margin: 5px auto 0;*/
	}

}

@media screen and (max-width: 958px) and (min-width: 940px) {

}

/*小于937px，单列显示*/
@media screen and (max-width: 709px) and (min-width: 535px) {
	.right .indexLogin {
		display: none;
	}

	.right .indexLeaveMessage {
		margin-top: 0;
	}
}


@media screen and (max-width: 534px) {
	.top {
		display: block;
		background-color: white;
		border-radius: 10px;
	}

	.infinite-list li {
		height: auto;
		/*background: #f3e3d5;*/
		background-color: white;
		margin-bottom: 10px;
		margin-left: 0;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 10px;

		/*background-color: white;*/
		box-shadow: 0 2px 4px 1px rgba(165, 162, 162, 0.568);
	}

	.left {
		margin-right: 0;
	}

	aside {
		display: none;
	}

}


