@charset "utf-8";

/* CSS Document */

.main {
    width: 960px;
    margin: 0px auto;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

.main video {
    margin-top: 10px;
}

.main a {
    color: black;
}

.main a:hover {
    color: rgb(255, 186, 20);
}

.main>.img>img {
    width: 100%;
}

.main>.img>.img {
    margin-top: 10px;
}

.main>.img>.img:nth-last-child(1) {
    margin-bottom: 10px;
}

@media screen and (max-width: 959px) {
    .main {
        width: 100%;
        margin: 0px auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
        padding: 0px 12px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.6em;
    }
    h3 {
        font-size: 2.2em;
    }
    h4 {
        font-size: 1.8em;
    }
    h4 {
        font-size: 1.4em;
    }
    .main p {
        padding: 0px 12px;
    }
    .main video {
        margin-top: 10px;
    }
    p,
    .main a {
        color: black;
        padding: 0px 12px;
    }
    .main>.img>img {
        width: 100%;
    }
    .main>.img>.img {
        margin: 10px 12px;
    }
    .main>.img>.img:nth-last-child(1) {
        margin-bottom: 10px;
    }
}